{{/*
	GetFeaturedImage

	This partial gets the URL for the featured image for a given page.

	It supports two sources:
	1. A path to an image in the `static/` directory (defined via front matter as `featured_image`)
	2. A Page Resource image with "cover" or "feature" in the name

	@return RelPermalink or AbsURL to featured image, or an empty string if not found.
*/}}

{{ $linkToCover := "" }}
{{ $matches := "feature,cover" }}

{{ with .Params.featured_image }}
  {{/* Start by assuming it's a static image path */}}
  {{ $linkToCover = strings.Trim . "/" | urls.AbsURL }}
  {{/* But if there's a page resource matching it, prefer that */}}
  {{ with $.Resources.GetMatch . }}
    {{ $linkToCover = .RelPermalink }}
  {{ end }}
{{ else }}
  {{ with .Resources.ByType "image" }}
    {{ with .GetMatch (printf "**{%s}*" $matches) }}
      {{ $linkToCover = .RelPermalink }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $linkToCover }}
